<div class="barra-direita">
  <h2 class="text-center pt-3 pb-3">TOP STORIES</h2>
    <a class="font_p" href="#"> <span>01</span> UX DESIGN New Geometry influences Logo Design</a>
    <a href="#">02 UX DESIGN Pratical Technin On Designing Animation</a>
    <a href="#">03 STARTUPS Designing For Explicit Choice</a>
    <a href="#">04 UX DESIGN A Better Way to Design For Retina In Photoshop</a>
    <a href="#">05 UX DESIGN A Better Way to Design For Retina In Photoshop</a>
    <a href="#">06 UX DESIGN A Better Way to Design For Retina In Photoshop</a>
    <a href="#">07 UX DESIGN A Better Way to Design For Retina In Photoshop</a>

</div>
