





















/* .barra-direita{
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  width: 350px;
  height: 500px;
  background-color: #1D242E;
  padding-left: 15px;
  margin-top: 40px;
}
.barra-direita a p{
  background-color: transparent;
}
.barra-direita a span{
  background-color: transparent;
}
.barra-direita h2, .barra-direita a{
  background-color: transparent;
  text-decoration: none;
  color: white;
  text-align: start;
  padding-top: 7px;
  padding-bottom: 7px;
}
.barra-direita h2{
  color:white;
}

.barra-direita a:hover{
  background-color: white;
  color:#1D242E;

} */
