<div class="barra-direita">
  <h2 class="text-center pt-3 pb-3">TOP STORIES</h2>
    <a class="font_p" href="#"> <span>01</span> UX DESIGN
      <p>New Geometry influences Logo Design</p>
    </a>
    <a href="#"><span>02</span>UX DESIGN
      <p>Pratical Technin On Designing Animation</p>
    </a>
    <a href="#"><span>03</span>STARTUPS
      <p>Designing For Explicit Choice</p>
    </a>
    <a href="#"><span>04</span>UX DESIGN
      <p>A Better Way to Design For Retina In Photoshop</p>
    </a>

</div>
