<div class="caixa">
   <div class="caixa-photo">
        <img src="https://via.placeholder.com/400x400" alt="exemplo de imagem">
   </div>
   <a href="#">
   <div class="caixa-text">
          <p>data 00/00/00</p>
        <h1><b>titulo</b></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam tempora aliquid dicta iure. Quae distinctio ab vero minus? Illo saepe asperiores ab dignissimos. Illum, ipsa. Odit quo illo repellendus molestias!
        </p>
      </div>
    </a>
</div>
