.caixa{
 display: flex;
  background-color: white;
  flex-direction: row;
  margin: 10px;
  align-items: center;
  width: 100%;
  height: 30em;
}
.caixa-photo img{
  width: 25em;
  height: 30em;
}
.caixa a{
  text-decoration: none;
  margin-left: 15px;
}

.caixa-text{
  background-color: white;
  text-align: start;
}

.caixa-text a{
  text-decoration: none;
}
.caixa-text p{
  background-color: transparent;
  color: black;
}
.caixa-text h3{
  background-color: transparent;
  color: #1D242E;
}
