/* .small-card{
  width: 200px;
  margin: 5px;
}
.small-card-text{
  background-color: white;
  text-align: start;
  padding: 6px;
  height: 230px;
}
.small-card-text p,.small-card-text h5{
  background-color: transparent;
  color:black;
} */
