<app-menu-bar></app-menu-bar>
<main>
  <div class="barra-lateral-e">
    <app-barra-lateral-esquerda></app-barra-lateral-esquerda>
  </div>

  <div class="main-principal">
     <app-big-card
     PhotoCover="https://via.placeholder.com/400x400"
     CardTitle="TITULO"
     CardDescription="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dolorum at distinctio deserunt officia, quos ab et voluptates veritatis illum repellat nihil praesentium porro ea enim labore, rerum possimus. Possimus! juan"
     >
    </app-big-card>
     <div class="main-s-m">
       <app-small-card
          PhotoCover="https://via.placeholder.com/200x202"
          CardDate="august 15, 2015"
          CardTitle="A frank Lloyd Wright Approach To Digital Design"
          CardDescription="A frank Lloyd Wright Approach To Digital Design"
       ></app-small-card>
       <app-medio-card
          CardDate="august 15,2012"
          PhotoCover="https://via.placeholder.com/420x300"
          CardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit."
       ></app-medio-card>
     </div>
     <div class="main-s-m">
      <app-small-card
          PhotoCover="https://via.placeholder.com/200x202"
          CardDate="august 15, 2015"
          CardTitle="A frank Lloyd Wright Approach To Digital Design"
          CardDescription="A frank Lloyd Wright Approach To Digital Design"

      ></app-small-card>
      <app-small-card
          PhotoCover="https://via.placeholder.com/200x202"
          CardDate="august 15, 2015"
          CardTitle="A frank Lloyd Wright Approach To Digital Design"
          CardDescription="A frank Lloyd Wright Approach To Digital Design"
      ></app-small-card>
      <app-small-card
          PhotoCover="https://via.placeholder.com/200x202"
          CardDate="august 15, 2015"
          CardTitle="A frank Lloyd Wright Approach To Digital Design"
          CardDescription="A frank Lloyd Wright Approach To Digital Design"
      ></app-small-card>
     </div>
  </div>

  <div class="barra-lateral-d">
    <app-barra-lateral-direita></app-barra-lateral-direita>
  </div>
</main>
