<app-menu-bar></app-menu-bar>
<main>
  <div class="barra-lateral-e">
    <app-barra-lateral-esquerda></app-barra-lateral-esquerda>
  </div>

  <div class="main-principal">
     <app-big-card></app-big-card>
     <div class="main-s-m">
       <app-small-card></app-small-card>
       <app-medio-card></app-medio-card>
     </div>
     <div class="main-s-m">
      <app-small-card ></app-small-card>
      <app-small-card ></app-small-card>
      <app-small-card ></app-small-card>
     </div>
  </div>

  <div class="barra-lateral-d">
    <app-barra-lateral-direita></app-barra-lateral-direita>
  </div>
</main>
