<header>
  <nav>
    <div class="menu-top">
      <div class="menu-image">
        <img src="https://via.placeholder.com/50" alt="exemplo de imagem">
          <h1>
            Blog Online
          </h1>
      </div>
          <button class="btn " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Menu</button>

          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title branco" id="offcanvasRightLabel">titulo</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body branco">
              <p>conteudo</p>
            </div>
          </div>
        <!-- <p>menu</p> -->
    </div>
    <div class="menu-name">
      <h1>
        Noticias De <b>Hoje</b>
      </h1>
    </div>
  </nav>
</header>


